
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(5,33,56);
  background-image : url("5205447.jpg") ;
  background-size:cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.quiz-app {
  margin-top: 50px;
  padding: 15px; 
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 550px;
  overflow: hidden;
  max-height: 500px;
  overflow: scroll;
}

.quiz-app .count {
  display: none;
}
.quiz-app .quiz-area {
  background-color: rgb(255, 255, 255);
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 15px;
  overflow: scroll;
}
.quiz-app .quiz-area h2 {
  margin: 0;
}
.quiz-app .answers-area {
  background-color: #fff;
  padding: 0 20px 20px;
  overflow: scroll;
}
.quiz-app .answers-area .answer {
  background-color: #f9f9f9;
  padding: 15px;
  overflow: scroll;
}
.quiz-app .answers-area .answer input[type="Radio"]:checked + label {
  color: #184e77;
  
}
input[type="Radio"]
{
  accent-color: grey;
  
}
.quiz-app .answers-area .answer label {
  cursor: pointer;
  font-weight: bold;
  color: #777;
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}
.quiz-app .submit-button {
  background-color: #41e6ab;
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
}

.submit-button:hover{
  background-color: #168AAD;
}
.quiz-app .bullets {
  background-color: rgba(255, 255, 255, 0.526);
  display: flex;
  padding: 20px;
}
.quiz-app .bullets .spans {
  flex: 1;
  display: flex;
}
.quiz-app .bullets .spans span {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  margin-right: 5px;
  border-radius: 50%;
}
.quiz-app .bullets .spans span.on {
  background-color: #41e6ab;
}

.quiz-app .results {
overflow: scroll;
}

.quiz-app .results span {
  font-weight: bold;
}
.quiz-app .results span.mauvais {
  color: #dc0a0a;
}
.quiz-app .results span.bien {
  color: #00e676;
}
.quiz-app .results span.parfait {
  color: #0075ff;
}

nav{
  vertical-align: top;
	display: flex;
	align-items: center;
	justify-content: space-between;
  background-color: transparent;
  /* background-color: rgb(5,33,56); */
	padding: 0% 15% 0% 15%;
	display: flex;
	flex-wrap: wrap;
	top: 0;
	right: 0;
	position: fixed;
	z-index: 20;
	width: 100%;	
}
nav ul{
	list-style: none;
}
nav ul li{
	display: inline-block;
}
#q , nav ul li a{
  text-decoration: none;
  color:  white;
  font-size: 15px;
	padding: 5px 30px;
	display: inline-block;
  border-radius: 10px;
	transition: 0.8s;
}
nav ul li a:hover{
    color: white;
	background-color:  rgb(96,215,166);
}
 .results span.wrong {
  color:#dc0a0a;
}
.results span.correct {
  color:#00e676;
}
.results span {
  color:gray;
}
.c-wrong {
  margin-left: 20px;
  color: #dc0a0a;
}
.c-correct {
  margin-left: 20px;
  color: #00e676;
}
 #acc
{
  background-image: url("banner.png");
  overflow: scroll;
}
#q
{
  color: white;
	background-color:  rgb(96,215,166);
 
}
 /* .repbutton , .quitterbutton {
   margin: 0 10px;
   height: 45px;
   padding: 0 20px;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
   border: none;
   outline: none;
   border-radius: 6px;
   border: 1px solid #007bff;
   transition: all 0.3s ease;
}
.quitterbutton{
  color: #007bff;
    background: #fff;
}
.quitterbutton:hover{
  color: #fff;
  background: #007bff;
}
.repbutton{
  color: #fff;
   background: #007bff; 
}
.repbutton:hover{
  background: #0263ca;
} */