
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
  box-sizing: border-box;
}
nav{
  background-color: transparent !important;
}
#quizpage {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(5,33,56);
  background-image : url("images/5205447.jpg") ;
  background-size:cover;
  /* background-image: linear-gradient(315deg, #184E77 0%, #34A0A4 100%); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: auto;
}
.quiz-app {
  margin-top: 50px;
  padding: 15px; 
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 550px;
  overflow-y: scroll;
  max-height: 500px;

  /*pour masquer la barre de scroll sur firefox*/
  -ms-overflow-style: none; 
  
  /*pour masquer la barre de scroll sur firefox*/ 
  scrollbar-width: none;  
}

.quiz-app::-webkit-scrollbar {
   /*pour masquer la barre de scroll sur chrome*/
  display: none;
}

.quiz-app .count {
  display: none;
}
.quiz-app .quiz-area {
  background-color: rgb(255, 255, 255);
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 15px;
}
.quiz-app .quiz-area h2 {
  margin: 0;
}
.quiz-app .answers-area {
  background-color: #fff;
  padding: 0 20px 20px;
}
.quiz-app .answers-area .answer {
  background-color: #f9f9f9;
  padding: 15px;
}
.quiz-app .answers-area .answer input[type="Radio"]:checked + label {
  color: #184e77;
  
}
input[type="Radio"]
{
  accent-color: grey;
}
.quiz-app .answers-area .answer label {
  cursor: pointer;
  font-weight: bold;
  color: #777;
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}
.quiz-app .submit-button {
  background-color: #41e6ab;
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
}

.submit-button:hover{
  background-color: #168AAD;
}
.quiz-app .bulle {
  background-color: rgba(255, 255, 255, 0.526);
  display: flex;
  padding: 20px;
}
.quiz-app .bulle .spans {
  flex: 1;
  display: flex;
}
.quiz-app .bulle .spans span {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  margin-right: 5px;
  border-radius: 50%;
}
.quiz-app .bulle .spans span.on {
  background-color: #41e6ab;
}

.quiz-app .results span {
  font-weight: bold;
}
.quiz-app .results span.mauvais {
  color: #dc0a0a;
}
.quiz-app .results span.bien {
  color: #00e676;
}
.quiz-app .results span.parfait {
  color: #0075ff;
}

 #qui {
  color: white;
  background-color: rgb(96,215,166);
  border-radius: 10px;
}
 .results span.wrong {
  color:#dc0a0a;
}
.results span.correct {
  color:#00e676;
}
.results span {
  color:gray;
}
.c-wrong {
  margin-left: 20px;
  color: #dc0a0a;
}
.c-correct {
  margin-left: 20px;
  color: #00e676;
}

@media screen and (max-width: 800px){
  .quiz-app{
    margin-top: 200px;
    max-height : 350px;
  }
}
@media screen and (max-height: 550px) {
  .quiz-app{
    margin-top: 300px;
    max-height : 350px;
  }
}