*{
  margin: 0;
}

body
{
  background-color: rgb(5,33,56);
  margin: 80px;
}

#act{
  color: white;
  background-color: rgb(96,215,166);
  border-radius: 10px;
}

h1{
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 40px 20px;
  color: rgb(96,215,166);
}

.page-content{
  margin-top: 70px;
}

main{
  width: 100%;
  margin: auto;
}

#horizontal-nav{
  width: 10%;
  margin-top: 40px;
}

#horizontal-nav ul {
  list-style-type: none;
  padding: 0;
}

#horizontal-nav ul li{
  padding: 5px 0;
  font-size: 12px;
}

table,th,td {
  border-collapse: collapse;
}

#scores-container section{
  width: 90%;
  margin: 20px auto;
  border: 1px solid #0b3663;
}


.principale {
  margin-top: 20px;
  color: white;
}

.principale td{
  text-align: center;
  padding: 20px;
  font-size: 13px;
}

.principale:hover{
  background-color: #0b3663 !important; 
  color: white !important;
  font-weight: bold !important;
}

table{
  width: 100%;
  color: white;
}

td.flags{
  text-align: center;
  padding: 20px;
  font-size: 13px;
}

td.flags img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

td.img:not(td.flags img){
  width: 15px;
  height: 15px;
}


.equipe{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buteurs{
  text-align: center;
  font-size: 11px;
  width: 50%;
  padding: 20px 10% 20px 0;
}

.pinalties{
  text-align: center;
  font-size: 11px;
  width: 50%;
  padding: 20px 10% 20px 0;
}

.buteurs div, .pinalties div{
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.ligne2, .ligne3{
  display: none; 
  justify-content: space-between;
  padding-right: 10%;
  font-size: 11px;
}

.voir_plus{
  background-color: transparent;
  border: none;
}

.voir_plus img{
  width: 15px;
  height: 15px;
}

.noms_equipes{
  width: 25%;
}

.flags{
  width: 10%;
}

.match header, .tr_tirs{
  text-align: center;
  color: #f7faff;
  background-color: #0b3663;
}

.tr_tirs{
  font-size: 13px;
}

.res-final{
  font-size: 25px;
  font-weight: bold;
}

.tr_tirs{
  display: none;
}

.divTirs{
  font-size: 11px;
  font-weight: 100;
}

tr{
  width: 100%;
}

#ac {
color: white;
background-color: rgb(96,215,166);
border-radius: 10px;
}

/*pour les pages a suivre ou precendente*/
.pages {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.page:hover a {
  background-color: white;
  color: #1c2b4f;
  border: 45%;
  transition: 0.5s all;
}

.page a {
  background-color: #254b72;
  border: 60%;
  color: white;
  padding: 5px;
  text-decoration: none;
}
/* Footer 
#footer {
  border-top: 3px solid;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

#footer div {
  margin-top: 20px;
}*/


@media screen and (max-width: 1010px){
  body{
    margin: 5%;
  }
  main{
    margin: auto;
    width: 100%;
  }
  .match header{
    font-size: 18px;
  }
  .res-final{
  font-size: 18px;
  }
  .res-null{
    font-size: 15px;
  }
  .ligne2 td, .ligne3 td{
    font-size: 11px;
  }
  .buteurs div, .pinalties div {
    flex-wrap: wrap;
    margin: 10px;
  }
  .principale td{
    font-size: 13px;
    padding: 10px;
  }
  .page-content{
    margin-top: 250px;
  }
  table{
    width: 100%;
  }
  #scores-container section{
    width: 100%;
  }
}